.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #F0F0F0; /* Hintergrundfarbe */
}

h1 {
    color: #008B8B;
    text-align: center;
    font-weight: bold;
    border: 4px solid #008B8B;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-size: 2em;
    font-weight: bolder;
}

h2 {
    color: #505050; /* Dunkelgrau */
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.route-title {
    color: #008B8B; /* Primärfarbe */
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
}

.btn-primary {
    background-color: #008B8B; /* Primärfarbe */
    border-color: #008B8B; /* Primärfarbe */
}

.btn-info {
    background-color: #FF7F50; /* Sekundärfarbe */
    border-color: #FF7F50; /* Sekundärfarbe */
}

.mt-3 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

/* Akzentfarben */
.light-gray {
    color: #D3D3D3; /* Hellgrau */
}

.dark-gray {
    color: #505050; /* Dunkelgrau */
}

img {
    display: block;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}