<h1>Congratulation!</h1>
<h2>You finished the {{this.title}} route</h2>
<p>We hope you had fun bla bla bla</p>
<p><a routerLink="/">Go to homepage</a></p>
<p><a target="_blank" href="https://twitter.com/intent/tweet?text=Hey%20Guys%F0%9F%98%83!!!!%0AI%20just%20finished%20the%20{{this.title}}%20route%20on%20Dodle!!!!!!%20%F0%9F%98%8A%F0%9F%98%8A%F0%9F%98%8A%0ATry%20it%20out%20here%F0%9F%98%8D%F0%9F%91%89%20https%3A%2F%2Fdodle-bmsd21a.bbzwinf.ch%0A%0A%E2%9C%A8%E2%9C%A8And%20don't%20forget%20to%20be%20yourself%20and%20sparkle%20on%E2%9C%A8%E2%9C%A8">Tweet</a></p>
