

/* Grundlayout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

/* Überschriften */
h1, h2 {
  color: #007bff;
  text-align: center;
}

form{
  margin-top: 0.5em;
}

/* Abstand und Zentrierung für das Koordinaten-Paragraph */
.coordinates {
  text-align: center;
  margin-bottom: 20px;
}

/* Button-Gruppe */
.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Stilisierte Buttons für die Auswahl */
.choice-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choice-button:hover {
  background-color: #0056b3;
}

.choice-button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Antwort-Buttons statt Radio-Buttons */
.answer-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.answer-button:checked,
.answer-button:hover {
  background-color: #007bff;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
  }
}

.main-container > h1{
  font-size: 3em;
}

.main-container{
  height: 100vh;
}

.main-container:first-child{
  padding-left: 2em;
  padding-right: 2em;
}

td{
  animation: 0.5s ease-in fade-in forwards;
  font-size: 2em;
}

@keyframes fade-in {
  0%{
    color: transparent;
  }

  100%{
    color: #4CAF50;
  }
}

.main-container > div:nth-child(1){
  height: 15vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
}

.main-container > div:nth-child(1) h2{
  font-size: 2em;
  margin-top: 1em;
}

.main-container > div:nth-child(2){
  height: 12.5vh;
  overflow: scroll;
  text-align: center;
  display: flex;
  align-items: center;
}

.main-container > div:nth-child(2) p {
  width: 100%;
  margin: 0;
}

.main-container > div:nth-child(3){
  height: 40vh;
}

.main-container > div:nth-child(4){
  display: flex;
  align-items: center;
  height: 27vh;
}
