<div class="container text-center my-5 py-4" style="background-color: #f0f2f5;">
  <h2>Welcome to the charm of {{this.routeName }} with dodle! 🏔️🏰</h2>
  <p>As you wander, stay street-smart – watch for cars as you scroll! 🚶‍♂️👀</p>
  <p>When near sights, we pause your timer, so take it in, no rush! ⏱️❤️</p>
  <p>Ready to explore? Tap 'Start' and dive into the beauty of Lucerne! 🌟🗺️</p>
  <p><small>Don't forget to share your moments with #dodleMoments!</small></p>
  <button type="button" class="btn btn-warning btn-lg" routerLink="/route/{{this.id}}">Start</button>
</div>
