@font-face {
  font-family: 'TitleFont';
  src: url("./assets/fonts/Overpass-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodyFont';
  src: url('./assets/fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TitleFont', sans-serif;
}

body, p, li, a {
  font-family: 'BodyFont', sans-serif;
}

#map-canvas
{
  height: 400px;
  width: 100vw;
}

*{
  transition: 0.1s;
}
