<img src="/assets/DodleLogo.webp" class="d-block mx-auto mt-3">
  <h1>Dodle</h1>
  <h2>Erlebe die Schweiz 🔍 ⛰️</h2>
  <div class="container mt-5">
  <div class="row">
    <div *ngFor="let route of routes[0]" class="col-lg-4 col-md-6 mb-4">
      <a routerLink="/routedetail/{{route['id']}}" class="text-decoration-none">
      <div class="card bg-dark text-white h-100" style="background: linear-gradient(transparent 0%, black 100%), url('/assets/citylogo/{{route['image']}}.jpg'); background-size: contain">
        <img class="card-img img-fluid" src="/assets/citylogo/{{route['image']}}.jpg" alt="Card image">
        <div class="card-img-overlay bottom">
          <div class="bottom">
            <h3 class="card-title  bold">{{route['name']}}</h3>
            <p class="card-text lh-sm">{{route['desc']}}</p>
            <p class="card-text pb-2">Distanz: {{route['distance']}}km</p>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div *ngFor="let route of ['Zürich', 'Sursee']" class="col-lg-4 col-md-6 mb-4">
      <a class="text-decoration-none">
        <div class="card text-white h-100" style="background: url('https://www.svgrepo.com/show/6230/clock.svg'), dimgray; background-size: 50%; background-position: center; background-repeat: no-repeat">
          <img class="card-img img-fluid" src="/assets/citylogo/basel.jpg" alt="Card image">
          <div class="card-img-overlay bottom">
            <div class="bottom">
              <h3 class="card-title  bold">{{route}}</h3>
              <p class="card-text lh-sm">coming soon...</p>
              <p class="card-text pb-2">Distanz: ???km</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
