<img src="/assets/DodleLogo.webp" class="d-block mx-auto mt-3">
<h1>Dodle</h1>
<h2>Erlebe die Schweiz 🔍 ⛰️</h2>
<input id="searchbar" placeholder="Search..." type="text"  (keyup.enter)="search()" (input)="search()" [(ngModel)]="text">
<hr>
<div class="container mt-5">
  <div class="row">
    <div *ngFor="let route of routes[0]" class="col-lg-4 col-md-6 mb-4">
      <a *ngIf="route['available'] == 1" routerLink="/routedetail/{{route['id']}}" class="text-decoration-none">
        <div class="card bg-dark text-white h-100" style="background: linear-gradient(transparent 0%, black 100%), url('/assets/citylogo/{{route['image']}}.jpg'); background-size: contain">
          <img class="card-img img-fluid" src="/assets/citylogo/{{route['image']}}.jpg" alt="Card image">
          <div class="card-img-overlay bottom">
            <div class="bottom">
              <h3 class="card-title  bold">{{route['name']}}</h3>
              <p class="card-text lh-sm">{{route['desc']}}</p>
              <p class="card-text pb-2">Distanz: {{route['distance']}}km</p>
            </div>
          </div>
        </div>
      </a>
      <a *ngIf="route['available'] == 0" class="text-decoration-none">
        <div class="card text-white h-100" style="background: url('https://www.svgrepo.com/show/6230/clock.svg'), dimgray; background-size: 50%; background-position: center; background-repeat: no-repeat">
          <img class="card-img img-fluid" src="/assets/citylogo/basel.jpg" alt="Card image">
          <div class="card-img-overlay bottom">
            <div class="bottom">
              <h3 class="card-title  bold">{{route['name']}}</h3>
              <p class="card-text lh-sm">coming soon...</p>
              <p class="card-text pb-2">Distanz: ???km</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div *ngIf="routes[0].length == 0" id="notFound">
      <h1>No Results Found</h1>
      <p>Sorry, but we couldn't find any results for your search query. Please try the following:</p>
      <ol>
        <li>Check the spelling of your search terms.</li>
        <li>Use different or more general search terms.</li>
      </ol>
    </div>
  </div>
</div>
